$RECYCLE.BIN/
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable

bin/
obj/
*.user

*.[Rr]e[Ss]harper

/.idea/**/dictionaries/
/.idea/**/shelf/
/.idea/**/*.iml
/.idea/**/.name
/.idea/**/contentModel.xml
/.idea/**/modules.xml
/.idea/**/projectSettingsUpdater.xml
/.idea/**/workspace.xml
